<h1 class="title is-2">Search Results <h1>
<p class="mb-5">
  Your search for "<%= params[:keywords]%>" found <%= pluralize(@products.count, 'product') %>.
</p>
<ul class="ml-5">
  <% @products.each do |product|%>
    <li><%= link_to product.product_name, product %></li>
  <% end %>
</ul>